* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 18px;
  height: 200px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}
.reactPlayer{
  height: 77vh !important;
  width: 100% !important; 
}
@media screen and (max-width:600px) {
  .reactPlayer{
    height: 45vh !important;
  }
}